In [1]:
import pickle
import numpy as np
import pandas as pd
from Tfidf import Tfidf

In [2]:
npdf = np.array(pd.read_pickle('df_text.pk'))

In [3]:
t = Tfidf(npdf)

In [7]:
t.query(2355)

      index  cosine_distance
2355   2355     1.110223e-16
2358   2358     4.607823e-02
2356   2356     4.903277e-02
2366   2366     2.319730e-01
2360   2360     2.479769e-01
2357   2357     2.588321e-01
2354   2354     2.588321e-01
2362   2362     3.003109e-01
2365   2365     3.517715e-01
2361   2361     4.060856e-01